Node-RED/calengrade_flow.json
[
    {
        "id": "64b021d.46fcae",
        "type": "tab",
        "label": "UFABC Calendar",
        "disabled": false,
        "info": ""
    },
    {
        "id": "26eb0d6e.686b32",
        "type": "inject",
        "z": "64b021d.46fcae",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 280,
        "y": 220,
        "wires": [
            [
                "9956b99c.68eb48"
            ]
        ]
    },
    {
        "id": "9956b99c.68eb48",
        "type": "file in",
        "z": "64b021d.46fcae",
        "name": "",
        "filename": "C:\\Users\\marce\\Desktop\\resumo.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 500,
        "y": 220,
        "wires": [
            [
                "7ebff9dc.f79bc8"
            ]
        ]
    },
    {
        "id": "7ebff9dc.f79bc8",
        "type": "function",
        "z": "64b021d.46fcae",
        "name": "Grade",
        "func": "global.set(\"summary\", msg.payload)\nlet summary = global.get(\"summary\") || \"\"\n\n// Get all classes codes\nlet classCodeRegex = /[A-Z0-9]{7}[-][0-9]{2}/gi\nlet classesCodes = [...summary.match(classCodeRegex)];\n\n// Get all classes index\nlet classesIndex = []\nfor (var c = 0; c < classesCodes.length; c++)\n    classesIndex.push(summary.indexOf(classesCodes[c]))\n\n// Get all classes\nlet classes = []\nfor (var c = 0; c < classesIndex.length; c++) {\n    if (c == classesIndex.length-1) {\n        classes.push(summary.substring(classesIndex[c], summary.length))\n        continue    \n    }\n    classes.push(summary.substring(classesIndex[c], classesIndex[c+1]-1))\n}\n\nfor (var c = 0; c < classes.length; c++) {\n    classes[c] = classes[c].split(/\\n+/gi)\n}\n\nlet classesInfo = []\nfor (var c = 0; c < classes.length; c++){ \n    var classInfo = {info:classes[c][0], times:[]}\n    for (var i = 1; i < classes[c].length; i++) {\n        classInfo.times.push(classes[c][i])\n    }\n    classesInfo.push(classInfo)\n}\n\nmsg.payload = classesInfo\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 730,
        "y": 240,
        "wires": [
            [
                "f1d81e54.1a889",
                "a561ba15.0a70f8"
            ]
        ]
    },
    {
        "id": "a561ba15.0a70f8",
        "type": "debug",
        "z": "64b021d.46fcae",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1110,
        "y": 200,
        "wires": []
    },
    {
        "id": "f1d81e54.1a889",
        "type": "function",
        "z": "64b021d.46fcae",
        "name": "JSON",
        "func": "let finalClasses = []\nfor (var c = 0; c < msg.payload.length; c++) {\n    let originalClass = msg.payload[c]\n\n    let myClassInfo = {\n        code: originalClass.info.match(/[A-Z0-9]{7}[-][0-9]{2}/gi)[0],\n        title: originalClass.info.match(/(?![\\s-\\s])([0-9a-záàâãéèêíïóôõöúçñ, ]{2,})(?=\\s\\w{1,2}-)/gi)[0],\n        id: originalClass.info.match(/([A-Z]{1}[0-9]?(?=-(Noturno|Matutino)))/g)[0],\n        shift: originalClass.info.match(/(?!-)(Noturno|Matutino)/gi)[0],\n        tpi: originalClass.info.match(/(?!\\()(\\d{1,2}\\s-\\s\\d{1,2}\\s-\\s\\d{1,2})(?=\\))/gi)[0],\n        campus: originalClass.info.match(/(Campus\\s)(Santo\\sAndré|São\\sBernardo\\sdo\\sCampo)/gi)[0]\n    }\n    \n    let myClassTimes = []\n    for (var t = 0; t < originalClass.times.length; t++) {\n        let time = {\n            day: originalClass.times[t].match(/(.*-feira)|(Sábado)/gi)[0],\n            start: originalClass.times[t].match(/([01]?[0-9]|2[0-3]):[0-5][0-9](:[0-5][0-9])?/gi)[0],\n            end: originalClass.times[t].match(/([01]?[0-9]|2[0-3]):[0-5][0-9](:[0-5][0-9])?/gi)[1],\n            repeat: originalClass.times[t].match(/(?!\\s-\\s)(semanal|quinzenal\\s\\(i\\)|quinzenal\\s\\(ii\\))/gi)[0]\n        }\n        myClassTimes.push(time)\n    }\n    \n    let myClass = {\n        info: myClassInfo,\n        times: myClassTimes\n    }\n    \n    finalClasses.push(myClass)\n}\n\nmsg.payload = finalClasses\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 240,
        "wires": [
            [
                "20ce9ce9.cd56f4",
                "a561ba15.0a70f8"
            ]
        ]
    },
    {
        "id": "20ce9ce9.cd56f4",
        "type": "function",
        "z": "64b021d.46fcae",
        "name": "ICS",
        "func": "var startOfPeriod = \"20190923\"\nvar startOfPeriod2 = \"20190930\"\nvar endOfPeriod = \"20191221\"\n\n\nfunction getDayOffset(day) {\n    if (day.indexOf(\"Segunda-feira\") != -1)\n        return \"20190923\"\n    if (day.indexOf(\"Terça-feira\") != -1)\n        return \"20190924\"\n    if (day.indexOf(\"Quarta-feira\") != -1)\n        return \"20190925\"\n    if (day.indexOf(\"Quinta-feira\") != -1)\n        return \"20190926\"\n    if (day.indexOf(\"Sexta-feira\") != -1)\n        return \"20190927\"\n    if (day.indexOf(\"Sábado\") != -1)\n        return \"20190928\"\n    if (day.indexOf(\"Domingo\") != -1)\n        return \"20190929\"\n    return \"ERROR!\"\n}\n\nfunction getDayOffset2(day) {\n    if (day.indexOf(\"Segunda-feira\") != -1)\n        return \"20190930\"\n    if (day.indexOf(\"Terça-feira\") != -1)\n        return \"20191001\"\n    if (day.indexOf(\"Quarta-feira\") != -1)\n        return \"20191002\"\n    if (day.indexOf(\"Quinta-feira\") != -1)\n        return \"20191003\"\n    if (day.indexOf(\"Sexta-feira\") != -1)\n        return \"20191004\"\n    if (day.indexOf(\"Sábado\") != -1)\n        return \"20191005\"\n    if (day.indexOf(\"Domingo\") != -1)\n        return \"20191006\"\n    return \"ERROR!\"\n}\n\nfunction getDayOfWeek(day) {\n    if (day.indexOf(\"Domingo\") != -1)\n        return \"SU\"\n    if (day.indexOf(\"Segunda-feira\") != -1)\n        return \"MO\"\n    if (day.indexOf(\"Terça-feira\") != -1)\n        return \"TU\"\n    if (day.indexOf(\"Quarta-feira\") != -1)\n        return \"WE\"\n    if (day.indexOf(\"Quinta-feira\") != -1)\n        return \"TH\"\n    if (day.indexOf(\"Sexta-feira\") != -1)\n        return \"FR\"\n    if (day.indexOf(\"Sábado\") != -1)\n        return \"SA\"\n    return \"ERROR!\"\n}\n\nlet classes = msg.payload\n\nvar events = \"\"\n\nevents += \"BEGIN:VCALENDAR\" + \"\\n\"\nevents += \"PRODID:-//UFABC//Calendário UFABC//PT\" + \"\\n\"\nevents += \"VERSION:2.0\" + \"\\n\"\nevents += \"CALSCALE:GREGORIAN\" + \"\\n\"\nevents += \"METHOD:PUBLISH\" + \"\\n\"\nevents += \"X-WR-CALNAME:UFABC\" + \"\\n\"\nevents += \"X-WR-TIMEZONE:America/Sao_Paulo\" + \"\\n\"\nevents += \"X-WR-CALDESC:Calendário UFABC\" + \"\\n\"\nevents += \"BEGIN:VTIMEZONE\" + \"\\n\"\nevents += \"TZID:America/Sao_Paulo\" + \"\\n\"\nevents += \"X-LIC-LOCATION:America/Sao_Paulo\" + \"\\n\"\nevents += \"BEGIN:DAYLIGHT\" + \"\\n\"\nevents += \"TZOFFSETFROM:-0300\" + \"\\n\"\nevents += \"TZOFFSETTO:-0200\" + \"\\n\"\nevents += \"TZNAME:-02\" + \"\\n\"\nevents += \"DTSTART:19701101T000000\" + \"\\n\"\nevents += \"RRULE:FREQ=YEARLY;BYMONTH=11;BYDAY=1SU\" + \"\\n\"\nevents += \"END:DAYLIGHT\" + \"\\n\"\nevents += \"BEGIN:STANDARD\" + \"\\n\"\nevents += \"TZOFFSETFROM:-0300\" + \"\\n\"\nevents += \"TZOFFSETTO:-0300\" + \"\\n\"\nevents += \"TZNAME:-03\" + \"\\n\"\nevents += \"DTSTART:19700215T000000\" + \"\\n\"\nevents += \"RRULE:FREQ=YEARLY;BYMONTH=2;BYDAY=3SU\" + \"\\n\"\nevents += \"END:STANDARD\" + \"\\n\"\nevents += \"END:VTIMEZONE\" + \"\\n\"\n\nfor (let c = 0; c < classes.length; c++) {\n    for (let t = 0; t < classes[c].times.length; t++) {\n        \n        var event = \"BEGIN:VEVENT\"+\"\\n\"\n        event += \"SUMMARY:\" + classes[c].info.title + \"\\n\"\n        event += \"DESCRIPTION:\" + \"Aula de \" + classes[c].info.title + \"\\\\nTurma \" + classes[c].info.id + \"\\\\n\" + \"TPI: \" + classes[c].info.tpi + \"\\n\"\n        event += \"LOCATION:UFABC - \" + classes[c].info.campus + \"\\n\"\n        event += \"SEQUENCE:1\" + \"\\n\"\n        event += \"STATUS:CONFIRMED\" + \"\\n\"\n        event += \"TRANSP:OPAQUE\" + \"\\n\"\n        event += \"DTSTAMP:\" + startOfPeriod + \"T000000Z\" + \"\\n\"\n        event += \"CREATED:\" + startOfPeriod + \"T000000Z\" + \"\\n\"\n        event += \"LAST-MODIFIED:\" + startOfPeriod + \"T000000Z\" + \"\\n\"\n        event += \"UID:\"\n        event += Math.floor(1000000000*Math.random()*classes[c].info.title.length) + \"\" + classes[c].info.title.substring(0,3)\n        event += \"@aluno.ufabc.edu\" + \"\\n\"\n\n        if (classes[c].times[t].repeat.indexOf(\"semanal\") != -1 || classes[c].times[t].repeat.indexOf(\"quinzenal (I)\") != -1) {\n            event += \"DTSTART;TZID=America/Sao_Paulo:\" + getDayOffset(classes[c].times[t].day) + \"T\" + classes[c].times[t].start.replace(\":\",\"\") + \"00\" + \"\\n\"\n            event += \"DTEND;TZID=America/Sao_Paulo:\" + getDayOffset(classes[c].times[t].day) + \"T\" + classes[c].times[t].end.replace(\":\",\"\") + \"00\" + \"\\n\"\n        } else if (classes[c].times[t].repeat.indexOf(\"quinzenal (II)\") != -1) {\n            event += \"DTSTART;TZID=America/Sao_Paulo:\" + getDayOffset2(classes[c].times[t].day) + \"T\" + classes[c].times[t].start.replace(\":\",\"\") + \"00\" + \"\\n\"\n            event += \"DTEND;TZID=America/Sao_Paulo:\" + getDayOffset2(classes[c].times[t].day) + \"T\" + classes[c].times[t].end.replace(\":\",\"\") + \"00\" + \"\\n\"\n        }\n        \n        if (classes[c].times[t].repeat.indexOf(\"semanal\") != -1) {\n            event += \"RRULE:FREQ=WEEKLY;WKST=SU;UNTIL=\" + endOfPeriod + \"T025959Z;BYDAY=\" + getDayOfWeek(classes[c].times[t].day) + \"\\n\"\n        } else if (classes[c].times[t].repeat.indexOf(\"quinzenal (I)\") != -1 || classes[c].times[t].repeat.indexOf(\"quinzenal (II)\") != -1) {\n            event += \"RRULE:FREQ=WEEKLY;WKST=SU;UNTIL=\" + endOfPeriod + \"T025959Z;INTERVAL=2;BYDAY=\" + getDayOfWeek(classes[c].times[t].day) + \"\\n\"\n        }        \n        \n        event += \"END:VEVENT\"\n        \n        events += event + \"\\n\"\n    } \n    \n}\nevents += \"END:VCALENDAR\"\nmsg.payload = events\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 240,
        "wires": [
            [
                "bde6d4da.2296e8",
                "a561ba15.0a70f8"
            ]
        ]
    },
    {
        "id": "bde6d4da.2296e8",
        "type": "file",
        "z": "64b021d.46fcae",
        "name": "",
        "filename": "C:\\Users\\marce\\Desktop\\myGrade.ics",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1190,
        "y": 240,
        "wires": [
            [
                "f0254a6a.39c028",
                "aaa0a0c0.4cd18"
            ]
        ]
    },
    {
        "id": "cc4552a3.0e63",
        "type": "ui_text_input",
        "z": "64b021d.46fcae",
        "name": "",
        "label": "Grade:",
        "tooltip": "Copie as informações da disciplina do seu resumo de matrícula em: https://matricula.ufabc.edu.br/matricula/resumo",
        "group": "b803ced2.32ccf",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 570,
        "y": 260,
        "wires": [
            [
                "7ebff9dc.f79bc8"
            ]
        ]
    },
    {
        "id": "4e98987f.27b528",
        "type": "ui_button",
        "z": "64b021d.46fcae",
        "name": "",
        "group": "b803ced2.32ccf",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Go!",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-gear",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 450,
        "y": 260,
        "wires": [
            [
                "cc4552a3.0e63"
            ]
        ]
    },
    {
        "id": "8ba94213.5dea2",
        "type": "ui_toast",
        "z": "64b021d.46fcae",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 1570,
        "y": 240,
        "wires": []
    },
    {
        "id": "f0254a6a.39c028",
        "type": "function",
        "z": "64b021d.46fcae",
        "name": "",
        "func": "msg.payload = \"Grade gerada com sucesso!\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1410,
        "y": 240,
        "wires": [
            [
                "8ba94213.5dea2"
            ]
        ]
    },
    {
        "id": "aaa0a0c0.4cd18",
        "type": "debug",
        "z": "64b021d.46fcae",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1450,
        "y": 200,
        "wires": []
    },
    {
        "id": "b803ced2.32ccf",
        "type": "ui_group",
        "z": "",
        "name": "Resumo de Matrícula",
        "tab": "53304838.9b1cb8",
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "53304838.9b1cb8",
        "type": "ui_tab",
        "z": "",
        "name": "Gerador de Grade da UFABC",
        "icon": "fa-calendar",
        "disabled": false,
        "hidden": false
    }
]